motu/motu-library/motu-library-inventory/src/main/resources/fr/cls/atoll/motu/library/inventory/CatalogOLA.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
  Motu, a high efficient, robust and Standard compliant Web Server for Geographic
  Data Dissemination.
 
  http://cls-motu.sourceforge.net/
 
  (C) Copyright 2009-2010, by CLS (Collecte Localisation Satellites) - 
  http://www.cls.fr - and  Contributors
 
 
  This library is free software; you can redistribute it and/or modify it
  under the terms of the GNU Lesser General Public License as published by
  the Free Software Foundation; either version 2.1 of the License, or
  (at your option) any later version.
 
  This library is distributed in the hope that it will be useful, but
  WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public
  License for more details.
 
  You should have received a copy of the GNU Lesser General Public License
  along with this library; if not, write to the Free Software Foundation,
  Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA. 
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://purl.org/cls/atoll"
           xmlns="http://purl.org/cls/atoll"
           elementFormDefault="qualified">
  
  <xs:element name="resourceOLA">
    <xs:complexType>
      <xs:attribute name="urn" type="xs:anyURI" use="required" />
      <xs:attribute name="inventoryUrl" type="xs:anyURI" use="required" />            
    </xs:complexType>
  </xs:element>
  
  <xs:element name="resourcesOLA">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="resourceOLA" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="catalogOLA">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="resourcesOLA" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="optional" />            
    </xs:complexType>
  </xs:element>

</xs:schema>