atoll/atoll-motu/src/main/schema/stdname-equiv/sdtnameequiv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="standardNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="standardName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="standardName">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="netcdfName"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="netcdfName" type="xs:NCName"/>
</xs:schema>
