motu/motu-api/motu-api-message/src/main/schema/atoll-motu-msg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" 
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance"
	jaxb:version="2.1" jaxb:extensionBindingPrefixes="xjc inheritance">
	<xsd:annotation>
		<xsd:appinfo>
			<jaxb:globalBindings>
				<xjc:generateElementProperty>false</xjc:generateElementProperty>
			</jaxb:globalBindings>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:simpleType name="errorType">
		<xsd:annotation>
			<xsd:documentation>
				Motu error codes enumeration
			</xsd:documentation>
			<xsd:appinfo>
				<jaxb:typesafeEnumClass name="ErrorType" />
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedShort">
			<xsd:enumeration value="0">
				<xsd:annotation>
					<xsd:documentation>No error</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="OK" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>
						System error or Fatal error due to bad
						configuration
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="SYSTEM" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>
						Inconsistency parameters
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="INCONSISTENCY" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:documentation>
						Date is invalid or insconsistent
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="INVALID_DATE" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="4">
				<xsd:annotation>
					<xsd:documentation>
						Latitude is invalid or inconsistent
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="INVALID_LATITUDE" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="5">
				<xsd:annotation>
					<xsd:documentation>
						Longitude is invalid or inconsistent
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="INVALID_LONGITUDE" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="6">
				<xsd:annotation>
					<xsd:documentation>
						Date range is invalid or inconsistent
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="INVALID_DATE_RANGE" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="7">
				<xsd:annotation>
					<xsd:documentation>
						Amount of extracted data exceed allowed capacity
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="EXCEEDING_CAPACITY" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="8">
				<xsd:annotation>
					<xsd:documentation>
						Latitude/Longitude bounding box is invalid or
						inconsistent
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="INVALID_LAT_LON_RANGE" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="9">
				<xsd:annotation>
					<xsd:documentation>
						Depth (Z dimension) range is invalid or
						inconsistent
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="INVALID_DEPTH_RANGE" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="10">
				<xsd:annotation>
					<xsd:documentation>
						Request can't succeed because a function is not
						implemented
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="NOT_IMPLEMENTED" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="11">
				<xsd:annotation>
					<xsd:documentation>
						Error occurs during NetCDF variable processing
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="NETCDF_VARIABLE" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="12">
				<xsd:annotation>
					<xsd:documentation>
						No variable found. Request doesn't contain any
						variable
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="NO_VARIABLE" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="13">
				<xsd:annotation>
					<xsd:documentation>
						A NetCDF variable is not found (Unknown
						varaible)
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="NETCDF_VARIABLE_NOT_FOUND" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="14">
				<xsd:annotation>
					<xsd:documentation>
						Error occurs during NetCDF attribute processing
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="NETCDF_ATTRIBUTE" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="15">
				<xsd:annotation>
					<xsd:documentation>
						Number of maximum requests in queue server pool
						is reached
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="EXCEEDING_QUEUE_CAPACITY" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="16">
				<xsd:annotation>
					<xsd:documentation>
						Number of maximum simultaneaous requests for a
						user is reached
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="EXCEEDING_USER_CAPACITY" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="17">
				<xsd:annotation>
					<xsd:documentation>
						Depth (Z dimension) is invalid or inconsistent
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="INVALID_DEPTH" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="18">
				<xsd:annotation>
					<xsd:documentation>
						Invalid request priority according to the queue
						server
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="INVALID_QUEUE_PRIORITY" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="19">
				<xsd:annotation>
					<xsd:documentation>
						Unknown request id.
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="UNKNOWN_REQUEST_ID" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="20">
				<xsd:annotation>
					<xsd:documentation>
						The amount of data of a request is exceeded the
						maximum data threshold of the queues. No queue
						lays out such a size
						(data threshold)
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="EXCEEDING_QUEUE_DATA_CAPACITY" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="21">
				<xsd:annotation>
					<xsd:documentation>
						Application is shutting down
					</xsd:documentation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="SHUTTING_DOWN" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="statusModeType">
		<xsd:annotation>
			<xsd:appinfo>
				<jaxb:typesafeEnumClass name="StatusModeType" />
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedShort">
			<xsd:enumeration value="0">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="INPROGRESS" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="DONE" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="ERROR" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="PENDING" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
  <!-- Xlink attribute group -->
    <xsd:attributeGroup name="codeMsg">
		<xsd:attribute name="msg" type="xsd:string" />
		<xsd:attribute name="code" type="errorType" />
    </xsd:attributeGroup>
    
    <xsd:attributeGroup name="variableAttributes">
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="standardName" type="xsd:string"/>
		<xsd:attribute name="longName" type="xsd:string"/>
		<xsd:attribute name="units" type="xsd:string"/>
		<xsd:attribute name="description" type="xsd:string"/>
	</xsd:attributeGroup>

	<xsd:element name="statusModeResponse">

		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					Réponse à une requete d'extraction en mode
					'status'
				</xsd:documentation>
			<xsd:appinfo>
				<inheritance:implements>fr.cls.atoll.motu.api.message.mxbean.StatusModeResponseMXBean</inheritance:implements>				
			</xsd:appinfo>
			</xsd:annotation>

			<xsd:attribute name="status" type="statusModeType" />
			<xsd:attribute name="requestId" type="xsd:long" />
			<xsd:attributeGroup ref="codeMsg"/>
			<xsd:attribute name="dateProc" type="xsd:dateTime" />
			<xsd:attribute name="size" type="xsd:double" />
			<xsd:attribute name="remoteUri" type="xsd:string" />
			<xsd:attribute name="localUri" type="xsd:string" />
			<xsd:attribute name="dateSubmit" type="xsd:dateTime" />
			<xsd:attribute name="userId" type="xsd:string" />
			<xsd:attribute name="userHost" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>


	<xsd:element name="statusWPS">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					Réponse à une requete d'extraction en mode
					'status'
				</xsd:documentation>
			</xsd:annotation>
			<xsd:complexContent mixed="true">
				<xsd:extension base='xsd:anyType'>
					<xsd:attribute name="requestId" type="xsd:long" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>

	</xsd:element>

	<xsd:element name="timeCoverage">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					Response on temporal coverage of a product.
				</xsd:documentation>
			</xsd:annotation>

			<xsd:attribute name="start" type="xsd:dateTime" />
			<xsd:attribute name="end" type="xsd:dateTime" />
			<xsd:attribute name="timeResolution" type="xsd:string" use="optional"/>			
			<xsd:attributeGroup ref="codeMsg"/>
		</xsd:complexType>

	</xsd:element>
	
	<xsd:element name="property">
	  <xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					Property element name/value pair
				</xsd:documentation>
			</xsd:annotation>
	    <xsd:attribute name="name" type="xsd:string"/>
	    <xsd:attribute name="value" type="xsd:string"/>
		<xsd:attributeGroup ref="codeMsg"/>			  		  	  		    	        					
	  </xsd:complexType>
	</xsd:element>
	
	<xsd:element name="properties">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					Property elements name/value pair
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
		        <xsd:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
		    </xsd:sequence>
			<xsd:attributeGroup ref="codeMsg"/>			  		  	  		    	        					
 		</xsd:complexType>
 	</xsd:element>

	
	<xsd:element name="availableTimes">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					Response on available times of a product (semicolon separated values).
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleContent>
			  <xsd:extension base="xsd:string">
		        <xsd:attributeGroup ref="codeMsg"/>			  		  	  		    	        														  
			  </xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="availableDepths">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					Response on available depths of a product (semicolon separated values).
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleContent>
			  <xsd:extension base="xsd:string">
		        <xsd:attributeGroup ref="codeMsg"/>			  		  	  		    	        														  
			  </xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="geospatialCoverage">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					Response on geospatial coverage of a product.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="north" type="xsd:decimal" default="90"/>
			<xsd:attribute name="south" type="xsd:decimal" default="-90"/>
			<xsd:attribute name="east" type="xsd:decimal" default="180"/>
			<xsd:attribute name="west" type="xsd:decimal" default="-180"/>
			<xsd:attribute name="northSouthResolution" type="xsd:decimal" use="optional"/>
			<xsd:attribute name="northSouthUnits" type="xsd:string" use="optional"/>
			<xsd:attribute name="eastWestResolution" type="xsd:decimal" use="optional"/>
			<xsd:attribute name="eastWestUnits" type="xsd:string" use="optional"/>
			<xsd:attribute name="depthMin" type="xsd:decimal" use="optional"/>
			<xsd:attribute name="depthMax" type="xsd:decimal" use="optional"/>
			<xsd:attribute name="depthResolution" type="xsd:decimal" use="optional"/>
			<xsd:attribute name="depthUnits" type="xsd:string" use="optional"/>
			<xsd:attributeGroup ref="codeMsg"/>			  		  	  		    
			
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:element name="axis">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					Response on axis geospatial coverage of a product.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attributeGroup ref="variableAttributes"/>			  		  	  		    	        								
			<xsd:attribute name="axisType" type="xsd:string" use="optional"/>
			<xsd:attribute name="lower" type="xsd:decimal" use="optional"/>
			<xsd:attribute name="upper" type="xsd:decimal" use="optional"/>
			<xsd:attributeGroup ref="codeMsg"/>			  		  	  		    
			
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:element name="dataGeospatialCoverage">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					Response on data geospatial coverage of a product.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
		        <xsd:element ref="axis" minOccurs="0" maxOccurs="unbounded"/>
		    </xsd:sequence>
			<xsd:attributeGroup ref="codeMsg"/>			  		  	  		    
			
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:element name="variableVocabulary">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					Response on variable vocabulary query of a product.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleContent>
      			<xsd:extension base="xsd:string">			
					<xsd:attribute name="name" type="xsd:string"/>
					<xsd:attribute name="vocabularyName" type="xsd:string"/>
					<xsd:attribute name="units" type="xsd:string"/>
					<xsd:attributeGroup ref="codeMsg"/>			  		  	  		    	        					
				</xsd:extension>
			</xsd:simpleContent>
 		</xsd:complexType>
	</xsd:element>	
	
	<xsd:simpleType name="variableNameVocabulary">
		<xsd:annotation>
			<xsd:appinfo>
				<jaxb:typesafeEnumClass name="VariableNameVocabulary" />
			</xsd:appinfo>
		</xsd:annotation>
	    <xsd:restriction base="xsd:token">
          <xsd:enumeration value="CF-1.0"/>
          <xsd:enumeration value="DIF"/>
          <xsd:enumeration value="GRIB"/>
        </xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="variablesVocabulary">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					Response on variables vocabulary query of a product.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
		        <xsd:element ref="variableVocabulary" minOccurs="0" maxOccurs="unbounded"/>
		    </xsd:sequence>
	        <xsd:attribute name="vocabulary" type="variableNameVocabulary" use="optional"/>
			<xsd:attributeGroup ref="codeMsg"/>			  		  	  		    	        
 		</xsd:complexType>
 	</xsd:element>
 	
 	
	<xsd:element name="attr">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					Response on attribute query of a product variable
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="name" type="xsd:string"/>
			<xsd:attribute name="value" type="xsd:anySimpleType"/>
			<xsd:attributeGroup ref="codeMsg"/>			  		  	  		    	        								
 		</xsd:complexType>
	</xsd:element>	
	
	<xsd:element name="attrs">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					Response on attribute query of a product variable.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
		        <xsd:element ref="attr" minOccurs="0" maxOccurs="unbounded"/>
		    </xsd:sequence>
			<xsd:attributeGroup ref="codeMsg"/>			  		  	  		    	        					    
 		</xsd:complexType>
 	</xsd:element>

	<xsd:element name="variable">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					Response on variable query of a product.
				</xsd:documentation>
			</xsd:annotation>
<!-- 
			<xsd:sequence>
			  <xsd:element ref="attrs" minOccurs="0"/>
			</xsd:sequence>		
 -->				 
			<xsd:attributeGroup ref="variableAttributes"/>			  		  	  		    	        								
			<xsd:attributeGroup ref="codeMsg"/>			  		  	  		    	        								
 		</xsd:complexType>
	</xsd:element>	
	
	<xsd:element name="variables">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					Response on variables query of a product.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
		        <xsd:element ref="variable" minOccurs="0" maxOccurs="unbounded"/>
		    </xsd:sequence>
			<xsd:attributeGroup ref="codeMsg"/>			  		  	  		    	        					
 		</xsd:complexType>
 	</xsd:element>
	
	<xsd:element name="productMetadataInfo">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					Response on a metadata query of a product.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
			  <xsd:element ref="timeCoverage" minOccurs="0"/>
			  <xsd:element ref="availableTimes" minOccurs="0"/>
			  <xsd:element ref="availableDepths" minOccurs="0"/>
			  <xsd:element ref="geospatialCoverage" minOccurs="0"/>
			  <xsd:element ref="variablesVocabulary" minOccurs="0"/>		
			  <xsd:element ref="variables" minOccurs="0"/>		
			  <xsd:element ref="properties" minOccurs="0"/>
			  <xsd:element ref="dataGeospatialCoverage" minOccurs="0"/>
			</xsd:sequence>
			
			<xsd:attribute name="id" type="xsd:string"/>
			<xsd:attribute name="title" type="xsd:string"/>
			<xsd:attribute name="url" type="xsd:string"/>
			<xsd:attribute name="lastUpdate" type="xsd:string"/>
			<xsd:attributeGroup ref="codeMsg"/>			  		  	  
		
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="requestSize">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					Réponse informations volume de donneés (en
					octets)
					d'une requête d'extraction.
				</xsd:documentation>
			</xsd:annotation>

			<xsd:attribute name="maxAllowedSize" type="xsd:double" />
			<xsd:attribute name="size" type="xsd:double" />
			<xsd:attributeGroup ref="codeMsg"/>

		</xsd:complexType>

	</xsd:element>

</xsd:schema>
